# App
NODE_ENV=development
PORT=3000

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/hrm_db?schema=public"

JWT_ACCESS_SECRET="change-this-to-a-random-string-at-least-32-characters-long"
JWT_ACCESS_EXPIRES_IN="15m"

JWT_REFRESH_SECRET="change-this-to-another-random-string-at-least-32-chars"
JWT_REFRESH_EXPIRES_IN="7d"

CORS_ORIGIN="*"

# Swagger
SWAGGER_ENABLED=true
